<a href="https://colab.research.google.com/github/wojtek840919/data-science-bootcamp/blob/main/01_Wprowadzenie/03_pandas_zapisywanie%26wczytywanie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df=fetch_financial_data('UBER')
df.head()

              Open     High      Low  Close    Volume
Date
2023-04-14  31.310  31.6200  30.9302  31.48  11851874
2023-04-13  30.835  31.5900  30.6900  31.44  15079614
2023-04-12  31.190  31.4499  30.4000  30.59  15964933
2023-04-11  31.750  31.8000  30.8800  31.12  16906490
2023-04-10  30.960  31.7850  30.6100  31.74  16463111

In [3]:
df.to_csv('uber.csv')

In [4]:
df_nov = df[(df.index.month==11)&(df.index.year==2019)]
df_nov

             Open   High      Low  Close     Volume
Date
2019-11-29  29.41  29.85  29.2500  29.60    8115145
2019-11-27  29.42  29.59  28.8800  29.49   22421386
2019-11-26  29.49  30.15  29.3600  29.53   29590489
2019-11-25  28.69  29.60  28.3800  29.11   37571611
2019-11-22  29.84  30.13  29.2100  29.56   44383876
2019-11-21  28.67  29.60  28.5000  29.46   55658629
2019-11-20  27.06  28.40  26.9450  28.03   54075774
2019-11-19  26.77  27.22  26.6100  27.05   34115865
2019-11-18  26.80  27.00  26.3000  26.75   37309667
2019-11-15  26.18  26.80  25.9550  26.79   41372771
2019-11-14  26.80  26.86  25.6650  25.99   28027875
2019-11-13  26.47  26.82  26.1400  26.71   34512663
2019-11-12  27.38  27.66  26.6600  26.70   37095389
2019-11-11  27.03  27.21  26.2300  27.14   41445732
2019-11-08  27.48  27.62  26.9150  27.01   45263118
2019-11-07  26.80  27.42  26.4500  27.38   65949472
2019-11-06  26.06  27.55  25.5800  26.94  133569790
2019-11-05  29.13  29.30  27.9700  28.02   52180615
2019-11-04  31.45  31.75  30.1200  31.08   32330121
2019-11-01  31.45  31.70  30.7412  31.37   10460430

In [5]:
df_nov.to_csv('uber_nov.csv')

In [16]:
new_df=pd.read_csv('uber_nov.csv', index_col=0)
new_df

             Open   High      Low  Close     Volume
Date
2019-11-29  29.41  29.85  29.2500  29.60    8115145
2019-11-27  29.42  29.59  28.8800  29.49   22421386
2019-11-26  29.49  30.15  29.3600  29.53   29590489
2019-11-25  28.69  29.60  28.3800  29.11   37571611
2019-11-22  29.84  30.13  29.2100  29.56   44383876
2019-11-21  28.67  29.60  28.5000  29.46   55658629
2019-11-20  27.06  28.40  26.9450  28.03   54075774
2019-11-19  26.77  27.22  26.6100  27.05   34115865
2019-11-18  26.80  27.00  26.3000  26.75   37309667
2019-11-15  26.18  26.80  25.9550  26.79   41372771
2019-11-14  26.80  26.86  25.6650  25.99   28027875
2019-11-13  26.47  26.82  26.1400  26.71   34512663
2019-11-12  27.38  27.66  26.6600  26.70   37095389
2019-11-11  27.03  27.21  26.2300  27.14   41445732
2019-11-08  27.48  27.62  26.9150  27.01   45263118
2019-11-07  26.80  27.42  26.4500  27.38   65949472
2019-11-06  26.06  27.55  25.5800  26.94  133569790
2019-11-05  29.13  29.30  27.9700  28.02   52180615
2019-11-04  31.45  31.75  30.1200  31.08   32330121
2019-11-01  31.45  31.70  30.7412  31.37   10460430

In [12]:
df_nov.to_excel('uber_nov.xlsx')

In [15]:
new_df=pd.read_excel('uber_nov.xlsx', index_col=0)
new_df

             Open   High      Low  Close     Volume
Date
2019-11-29  29.41  29.85  29.2500  29.60    8115145
2019-11-27  29.42  29.59  28.8800  29.49   22421386
2019-11-26  29.49  30.15  29.3600  29.53   29590489
2019-11-25  28.69  29.60  28.3800  29.11   37571611
2019-11-22  29.84  30.13  29.2100  29.56   44383876
2019-11-21  28.67  29.60  28.5000  29.46   55658629
2019-11-20  27.06  28.40  26.9450  28.03   54075774
2019-11-19  26.77  27.22  26.6100  27.05   34115865
2019-11-18  26.80  27.00  26.3000  26.75   37309667
2019-11-15  26.18  26.80  25.9550  26.79   41372771
2019-11-14  26.80  26.86  25.6650  25.99   28027875
2019-11-13  26.47  26.82  26.1400  26.71   34512663
2019-11-12  27.38  27.66  26.6600  26.70   37095389
2019-11-11  27.03  27.21  26.2300  27.14   41445732
2019-11-08  27.48  27.62  26.9150  27.01   45263118
2019-11-07  26.80  27.42  26.4500  27.38   65949472
2019-11-06  26.06  27.55  25.5800  26.94  133569790
2019-11-05  29.13  29.30  27.9700  28.02   52180615
2019-11-04  31.45  31.75  30.1200  31.08   32330121
2019-11-01  31.45  31.70  30.7412  31.37   10460430